
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');
*{
    margin: 0 auto;
    padding : 0;
    box-sizing:border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}

/* styles for header part  */

header{
    background-color: #2D25A0;
    height: 677px;
    height: 100%;
    padding-top: 42px;
    padding-bottom: 86px;  
}
.banner-Wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 49px;
    margin: 0 130px;
}
.navbar{
    width: 100%;
    height: 44px;
    background-color: green;
   
}
.header-banner{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-column-gap: 105px;
   justify-content: center;
   align-items: center;
}
.head-line{
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    color: #ffffff;
    margin-bottom: 27px;
}
.header-left .button{
    background-color: #E02C6D;
    color: #ffffff;
    padding: 10px 24px;
}
.header-left .button span{
    margin-right: 15px;
}
.header-right{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.4s;
}
.banner-img{
    transition:0.4s;
}

.header-banner:hover .header-right .banner-img { 
    transform: rotate(30deg);
   
}
.banner-img{
    width: 100%;
    height: 100%;
}
    
/* styles for players section */
.main{
    margin-left: 183px;
    margin-right: 183px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px 30px;
    margin-top: 70px;
}
.player{
    background-color: #ffffff;
    margin:0, 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px 15px 33px 15px;
}
.img-thumbnail{
    
}
.img-link img{
    width: 100%;
    height: 100%;
}
.player-name{
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;
    color: #18191F;
    margin-top: 16px;
    margin-bottom: 10px;
}
.player-details{
    line-height: 26px;
    font-weight: 400;
    color: #6C6C6C;
}

/* styles for footer   */

.footer{
    background-color:#ffff;
    /* width : 100%; */
}
.footer-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 158px;
    margin-bottom: 63px;
}
.logo{
    
    margin-bottom: 20px;
}
.logo-img{
    width: 100%;
}
.social-icon{
   display: flex;
   flex-direction: row;
    margin-bottom: 20px;
   
}
.social-icon a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color:gray;  
    margin: 0 7px;
    border-radius: 50%;
}
.social-icon a i{
    color: #072ef1;
    /* #0B0D17; */
    opacity: 0.6;
}
.copyright{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

/* styles for various device */

/* styles for Mobile device */
@media screen and ( max-width:600px) {
    .header-banner{
        grid-template-columns: 1fr;
        grid-row-gap: 60px;
    }
    .banner-Wrapper{
        margin: 0 16px;
    }
    .main{
        margin: 0 15px;
    }
    .players{
        grid-template-columns: 1fr;
        grid-row-gap:24px;
        margin-top: 47px;
    }
    .player{
        padding-bottom: 15px;
    }
    .footer-wrapper{
        margin-left: 7px;
        margin-right: 7px;
        padding: 0 45px;
    }
}